@font-face{
    font-family: "Roboto-Thin";
    src: local("Roboto-Thin"),
    url('./assets/fonts/Roboto-Thin.ttf');
    font-weight: normal;
}
@font-face{
    font-family: "School Book New";
    src: url('assets/fonts/School-Book-New.ttf');
    font-weight: normal;
}
body{
    font-family: "Roboto-Thin";
    background-color: #BEAB90;
}
h1, h2, h3{
    font-family: "School Book New";
}
/* *** bootstrap styles *** */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}
.carousel-indicators {
    z-index: 2;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}  
#img-about{
    background-image: url('assets/img/brick%20wall.jpg');
    height: 400px;
    background-repeat: no-repeat;
}
p{
    font-size: 1.25em;
}
#menu .col-md-4{
    background-image: url('assets/img/what_i_learned_in_cqc_school_is.jpg');
    height: 321px; /* scale down images to around 300px before using */
    margin: 0 5px 0 5px;
    background-repeat: no-repeat;
    opacity: 0.5;
    color: rgba(0, 0, 0, 1);
    transition: opacity 0.4s, color 0.4s;
}
#menu .col-md-4:hover{
    opacity: 1;
    color: rgba(0, 0, 0, 0.1);
}
.modal-body{
    background-color: #BEAB90;
}
.modal-header, .modal-footer{
    background-color: #E7DA9C;   
}
/* mobile menu */
#menu .img-responsive{
        background-image: url('assets/img/what_i_learned_in_cqc_school_is.jpg');
        height: 321px; /* scale down images to around 300px before using */
        margin: 5px 5px 5px; 5px;
        background-repeat: no-repeat;
        opacity: 0.5;
        color: rgba(0, 0, 0, 1);
        transition: opacity 0.4s, color 0.4s;
    }
    #menu .img-responsive:hover{
        opacity: 1;
        color: rgba(0, 0, 0, 0.1);
    }
#menu h1{
    font-family: "Roboto-thin";
}
#menu-anchor, #about-anchor, #gallery-anchor, #who-anchor{  
    padding-top: 50px; /* stops scrolling nav before hitting text */
    margin-top: -50px;  
}
.gallery .img-responsive{
    background-image: url('assets/img/1322025046607.jpg');
    height: 200px;  /* scale down images to around 300px before using */
    background-repeat: no-repeat;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
    border: #BEAB90;
    text-decoration: none;
    transition: color 0.5s ease-out;
}
.gallery .img-responsive:hover{
    border: #4ae;
}
.chef-bio p{
    margin-top: 10px;
}
.chef-bio .img-responsive{
    background-image:url('assets/img/oh you.jpg');
    height: 350px;
    background-repeat: no-repeat;
    margin: 5px 5px 5px 5px;
}
.news{
    font-size: 2em;
    margin-top: 2em;
}
.footer{
    background-color: #E7DA9C;
}
.fa{
    margin: 0 auto;
    margin-left: 15px;
    margin-right: 15px;
    opacity: .6;
    transition: opacity 0.4s;
}
.fa:hover{
    opacity: 1;
}
/* *** main desktop styles *** */
@media (min-width: 768px){
    #header{
        width: 100%;
        overflow: hidden;
        margin: 0;
        background-color: #BEAB90;
        text-align: center;
        position: fixed;
        height: 45px;
        z-index: 3;
    }
    #nav{
        text-align: center;
        display: inline-block;
    }
    ul li{
        font-family: "School Book New";
        display: inline-block;
        margin: 0.75em 2.75em 0.75em 2.75em;
        list-style: none;
        font-size: 1.2em;
        border-radius: 9px;
    }
    ul li a{
        color: #42210B;
        transition: color 0.4s;
        z-index: 4;
    }
    ul li a:hover{
        color: #EBFF33;
        text-decoration: none;
    }
    ul li img{
        position: relative;
        bottom: 6px;
    }
}
@media (max-width: 768px;){
    .row{
        margin: 0 auto;
    }
    #about col-md-7{
        text-align: center;
}

    
