@font-face{
    font-family: "Roboto-Thin";
    src: local("Roboto-Thin"),
    url('./assets/fonts/Roboto-Thin.ttf');
    font-weight: normal;
}
@font-face{
    font-family: "School Book New";
    src: url('assets/fonts/School-Book-New.ttf');
    font-weight: normal;
}
body{
    font-family: "Roboto-Thin";
    background: url("assets/img/woodbackground.jpg") fixed repeat;
}
h1, h2, h3{
    font-family: "School Book New";
}
/* *** bootstrap styles *** */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}
.carousel-indicators {
    z-index: 2;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}  
#img-about{
    background-image: url('assets/img/chefs.png');
    height: 400px;
    background-repeat: no-repeat;
}
p{
    font-size: 1.25em;
}
#about p, .chef-bio p, #info-text{
    background-color: #BEAB90;
    padding: 5px;
    border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;   
}
/* menu */
.menu #drinks, #drinks-mobile{
    background-image: url("assets/img/drinks.png");
}
.menu #lunch, #lunch-mobile{
    background-image: url("assets/img/drinks.png");
}
.menu #dinner, #dinner-mobile{
    background-image: url("assets/img/dinner.png");
}
.menu #dessert, #dessert-mobile{
    background-image: url("assets/img/dessert.png");
}

.menu .col-md-4{
    height: 321px; /* scale down images to around 300px before using */
    margin: 0 5px 0 5px;
    background-repeat: no-repeat;
    opacity: 0.5;
    color: rgba(0, 0, 0, 1);
    transition: opacity 0.4s, color 0.4s;
}
.menu .col-xs-4{
    opacity: 1;
    color: rgba(0, 0, 0, 0.1)
}
.menu .col-md-4:hover{
    opacity: 1;
    color: rgba(0, 0, 0, 0.1);
}
.modal-body{
    background-color: #BEAB90;
}
.modal-header, .modal-footer{
    background-color: #E7DA9C;   
}
.navbar{
    background-color: #E7DA9C;
}
/* mobile menu */
.menu .img-responsive{
        background-image: url('assets/img/what_i_learned_in_cqc_school_is.jpg');
        height: 321px; /* scale down images to around 300px before using */
        margin: 5px 5px 5px; 5px;
        background-repeat: no-repeat;
        opacity: 0.5;
        color: rgba(0, 0, 0, 1);
        transition: opacity 0.4s, color 0.4s;
    }
    .menu .img-responsive:hover{
        opacity: 1;
        color: rgba(0, 0, 0, 0.1);
    }
.menu h1{
    font-family: "Roboto-thin";
}
#menu-anchor, #about-anchor, #gallery-anchor, #who-anchor{  
    padding-top: 50px; /* stops scrolling nav before hitting text */
    margin-top: -50px;  
}
#button{
    margin 0 auto;
    text-align: center;
}
#more{
    margin: 0 auto;
    text-align: center;
    transition: background-color 0.4s, color 0.35s;
    margin-top: 15px;
    margin-bottom: 15px;
}
#more h3{
    text-decoration: none;
}
#more:hover{
    background-color: #EBFF33;
    color: #000000;
}
.gallery .img-responsive{
    background-image: url('assets/img/1322025046607.jpg');
    height: 275px;  /* scale down images to around 300px before using */
    background-repeat: no-repeat;
    margin: 5px 10px 5px 10px;
    border-radius: 5px;
    border: #BEAB90;
    text-decoration: none;
    transition: color 0.5s ease-out;
}
.gallery .img-responsive:hover{
    border: #4ae;
}
.chef-bio p{
    margin-top: 10px;
}
.chef-bio .img-responsive{
    background-image:url('assets/img/oh you.jpg');
    height: 350px;
    background-repeat: no-repeat;
    margin: 5px 5px 5px 5px;
}
.news{
    font-size: 2em;
    margin-top: 2em;
}
.footer{
    background-color: #E7DA9C;
}
.fa{
    margin: 0 auto;
    margin-left: 15px;
    margin-right: 15px;
    opacity: .6;
    transition: opacity 0.4s;
}
.fa:hover{
    opacity: 1;
}
/* *** main desktop styles *** */
@media (min-width: 768px){
    #desktop-nav{
        width: 100%;
        margin: 0 auto;
        background-color: #BEAB90;
        height: 45px;
        z-index: 3;
        text-align: center;
    }
    #nav{
        text-align: center;
        display: inline-block;
    }
    ul{
        margin: 0 auto;
        text-align: center;
    }
    ul li{
        font-family: "School Book New";
        display: inline-block;
        text-align: center;
        margin: 0 1.3em 0 1.3em;
        list-style: none;
        font-size: 1.4em;
    }
    ul li a{
        color: #FFFFFF;
        transition: color 0.4s;
        z-index: 4;
        text-align: center;
    }
    ul li a:hover{
        color: #42210B;
        text-decoration: none;
    }
    ul li img{
        position: relative;
        bottom: 6px;
    }
}
@media (max-width: 768px;){
    .row{
        margin: 0 auto;
    }
    #about col-md-7{
        text-align: center;
}

    
