@font-face{
    font-family: "Roboto-Thin";
    src: local("Roboto-Thin"),
    url('./assets/fonts/Roboto-Thin.ttf');
    font-weight: normal;
}
@font-face{
    font-family: "School Book New";
    src: url('assets/fonts/School-Book-New.ttf');
    font-weight: normal;
}
body{
    font-family: "Roboto-Thin";
    background: url("assets/img/woodbackground-big.jpg") fixed repeat;
}
h1, h2, h3{
    font-family: "School Book New";
}


/* *** bootstrap styles *** */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}
.carousel-indicators {
    z-index: 2;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}  


#img-about{
    background-image: url('assets/img/about.png');
    height: 350px;
    background-repeat: no-repeat;
}
p{
    font-size: 1.25em;
}
#about p, .chef-bio p, #info-text, .mail, form, #mc_embed_signup, .col-xs-6 p, .col-xs-4 p{
    background-color: #BEAB90;
    padding: 5px;
    border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;   
}
#ingredients{
    transition: color 0.4s;
}
#ingredients:hover{
        color: #42210B;
    }
/* menu */
.menu #drinks, #drinks-mobile{
    background-image: url("assets/img/drinks.png");
    font-weight: bold;
}
.menu #lunch, #lunch-mobile{
    background-image: url("assets/img/lunch.jpg");
}
.menu #dinner, #dinner-mobile{
    background-image: url("assets/img/dinner.png");
}
.menu #dessert, #dessert-mobile{
    background-image: url("assets/img/dessert.png");
}

.menu .col-md-4{
    height: 321px; /* scale down images to around 300px before using */
    margin: 0 5px 0 5px;
    background-repeat: no-repeat;
    opacity: 0.5;
    color: rgba(0, 0, 0, 1);
    transition: opacity 0.4s, color 0.4s;
}
.menu .col-xs-4{
    opacity: 1;
    color: rgba(0, 0, 0, 0.1)
}
.menu .col-md-4:hover{
    opacity: 1;
    color: rgba(0, 0, 0, 0.1);
}
.modal-body{
    background-color: #BEAB90;
}
.modal-header, .modal-footer{
    background-color: #E7DA9C;   
}
.navbar{
    background-color: #E7DA9C;
}
/* mobile menu */
.menu .img-responsive{
        background-image: url('assets/img/what_i_learned_in_cqc_school_is.jpg');
        height: 321px; /* scale down images to around 300px before using */
        margin: 5px 5px 5px; 5px;
        background-repeat: no-repeat;
        opacity: 0.5;
        color: rgba(0, 0, 0, 1);
        transition: opacity 0.4s, color 0.4s;
    }
    .menu .img-responsive:hover{
        opacity: 1;
        color: rgba(0, 0, 0, 0.1);
    }
.menu h1{
    font-family: "Roboto-thin";
}
#button{
    margin 0 auto;
    text-align: center;
}
#more{
    margin: 0 auto;
    text-align: center;
    transition: background-color 0.4s;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #BEAB90;
}
#more h3{
    text-decoration: none;
}
#more:hover{
    background-color: #42210B;
}
.gallery .img-responsive{
    height: 275px;  /* scale down images to around 300px before using */
    background-repeat: no-repeat;
    margin: 5px 10px 5px 10px;
    border-radius: 5px;
    border: #BEAB90;
    text-decoration: none;
    transition: color 0.5s ease-out;
}
#img-1{
    background-image: url('assets/img/galleryimg-1.png');
}
#img-2{
    background-image: url('assets/img/galleryimg-2.png');
}
#img-3{
    background-image: url('assets/img/galleryimg-3.png');
}
#img-4{
    background-image: url('assets/img/galleryimg-4.png');
}
.gallery .img-responsive:hover{
    border: #4ae;
}
.chef-bio p{
    margin-top: 10px;
}
.chef-bio .img-responsive{
    background-image:url('assets/img/oh you.jpg');
    height: 350px;
    background-repeat: no-repeat;
    margin: 5px 5px 5px 5px;
}
#joseph{
    background-image:url('assets/img/joseph.png')
}
.news{
    font-size: 2em;
}
.footer{
    background-color: #BEAB90;
}
.fa{
    margin: 0 auto;
    margin-left: 15px;
    margin-right: 15px;
    opacity: .6;
    transition: opacity 0.4s;
}
.fa:hover{
    opacity: 1;
}

/* more media queries */
@media (min-width: 1250){
    p{
        font-size: 1.2em;
    }
     ul li{
        margin: 0 1.2em 0 1.2em !important;
        font-size: 1.2em !important;
    }
}
@media (min-width: 1000px){
     ul li{
        margin: 0 1em 0 1em !important;
        font-size: 1.2em !important;
    }
}



/* *** main desktop styles *** */
@media (min-width: 768px){
    #desktop-nav{
        width: 100%;
        margin: 0 auto;
        background-color: #BEAB90;
        height: 45px;
        z-index: 3;
        text-align: center;
    }
    #nav{
        text-align: center;
        display: inline-block;
    }
    ul{
        margin: 0 auto;
        text-align: center;
    }
    ul li{
        font-family: "School Book New";
        display: inline-block;
        text-align: center;
        margin: 0 1.3em 0 1.3em;
        list-style: none;
        font-size: 1.375em;
    }
    
    ul li a{
        color: #000000; /*#42210B*/
        transition: color 0.4s;
        z-index: 4;
        text-align: center;
    }
    ul li a:hover{
        color: #FFFFFF;
        text-decoration: none;
    }
    ul li img{
        position: relative;
        bottom: 6px;
    }
    .footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 40px;
        z-index: 999;
    }
    .contact{
        margin-bottom: 40px;
    }
    .contact p{
        font-size: 2em;
    }
}
@media (max-width: 768px){
    .row{
        margin: 0 auto;
    }
    #about col-md-7{
        text-align: center;
    }
}

@media (max-width: 990px){
    p{
        font-size: 1em;
    }
    ul li{
        margin: 0 0.7em 0 0.9em;
        font-size: 1em;
    }
}